


<h1>Topics</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to  topic.name , topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= button_to 'Delete', topic, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Topic', new_topic_path %>
<%= link_to 'Show all posts', '/posts' %>
<%= link_to 'Show all tags', '/tags' %>
