


<h1>Topics</h1>
<div class="table-responsive">
<table id="TopicsTable" class="table table-hover">
  <thead>

  </thead>

  <tbody class="table-group-divider">
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to  topic.name , topic_posts_path(topic) %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= button_to 'Delete', topic, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>

</div>



<br>

<ul class="nav justify-content-center">

  <li class="nav-item m-2 badge btn btn-primary text-bg-light"> <%= link_to 'Create Topic', new_topic_path %> </li>
  <li class="nav-item m-2 badge btn btn-primary text-bg-light"> <%= link_to 'Show all posts', '/posts' %> </li>
  <li class="nav-item m-2 badge btn btn-primary text-bg-light"> <%= link_to 'Show all tags', '/tags' %> </li>

</ul>