
    <tr>

      <td class="post-title"><%= post.title %> <span class="category-content">(<%= post.topic.name %>)</span> </td>
      <td><%= link_to 'Show', post %></td>
      <% if can? :update, post %>
        <td><%= link_to 'Edit', edit_post_path(post)   %></td>
      <% end %>
      <% if can? :destroy, post %>
        <td><%= button_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      <% end %>
      <td><%= post.comments.size %> comments</td>
      <td>Average Rating: <%= post.rating_average %> stars</td>
      <% if current_user.present? %>
        <td class="badge bg-info text-dark" ><%= read_statuses.include?(post) ? 'Read' : 'Unread' %></td>
      <% end %>
    </tr>
