<% if params.key?(:topic_id) %>

  <h2><%= @topic.name %></h2>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>

<% end %>

<h2>Posts</h2>

<%= form_with url: posts_path, method: :get do |date_range| %>
  <div class="form-group">
    <%= date_range.label :from_date, "From Date:" %>
    <%= date_range.date_field :from_date %>
  </div>
  <div class="form-group">
    <%=date_range.label :to_date, "To Date:" %>
    <%= date_range.date_field "to_date" %>
  </div>
  <%= date_range.submit "Show Details", class: "btn btn-primary" %>
<% end %>

<div class="container ">
<table id='postsTable' class="table table-hover">

  <tbody id='postsTableBody' >
  <%= render partial: 'post', collection: @posts, locals: { read_statuses: @read_statuses } %>
  </tbody>
</table>
</div>



<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>

<br>

<%= link_to 'Back', topics_path %>
<% if params.key?(:topic_id) && current_user.present? %>
   | <%= link_to 'New post',new_topic_post_path(@topic), remote: true  %>
<% end %>

<div id='PostForm'>

</div>


