<% if params.key?(:topic_id) %>

  <h2><%= @topic.name %></h2>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>

<% end %>

<h2>Posts</h2>

<table>
  <thead>
  <tr>

  </tr>
  </thead>

  <tbody>
  <%= render partial: 'post', collection: @posts, locals: { read_statuses: @read_statuses } %>
  </tbody>
</table>



<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>

<br>

<%= link_to 'Back', topics_path %>
<% if params.key?(:topic_id) %>
   | <%= link_to 'Create post',new_topic_post_path(@topic)  %>
<% end %>
