<p id="notice"> <%= notice %> </p>

<h2>
  <%= @post.title %>
</h2>

<p>
  <strong>'Topic id'</strong>
  <%= @post.topic_id %>
</p>

<div>
  <%= @post.body %>
</div>

<h3>Tags</h3>
<ul>
<% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
<% end %>
</ul>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong> <%= comment.commenter %> </strong>
  </p>

  <p>
    <%= comment.content %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<%end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
