

<h2>
  <%= @post.title %>
</h2>

<p>
  <strong>Author</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>'Topic id'</strong>
  <%= @post.topic_id %>
</p>

<div>
  <%= @post.body %>
</div>

<% if @post.image.attached? %>
  <%= image_tag @post.image, class: "w-1/3" %>
<% end %>



<% if @ratings_by_value.present? %>
  <h2>Ratings:</h2>
  <ul>
    <% (1..5).reverse_each do |rating_value| %>
      <% count = @ratings_by_value[rating_value] || 0 %>
      <p><%= rating_value %> star<%= 's' if rating_value != 1 %> - <%= count %> </p>
    <% end %>
  </ul>
<% else %>
  <p>No ratings yet.</p>
<% end %>


<%= form_for [@post, @rating] do |f| %>
  <label>
    <%= radio_button_tag 'rating[value]', 1 %>
    1 star
  </label>
  <label>
    <%= radio_button_tag 'rating[value]', 2 %>
    2 stars
  </label>
  <label>
    <%= radio_button_tag 'rating[value]', 3 %>
    3 stars
  </label>
  <label>
    <%= radio_button_tag 'rating[value]', 4 %>
    4 stars
  </label>
  <label>
    <%= radio_button_tag 'rating[value]', 5 %>
    5 stars
  </label>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Add Rating" %>
<% end %>


<h3>Tags</h3>
<ul>
<% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
<% end %>
</ul>

<h2>Comments</h2>

 <%= render partial: "comments/comment", collection: @comments %>


<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.new ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<%end %>

<% if can? :update, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var postId =  <%= @post.id %>;

        // Check if the post is unread

        var xhttpRequest = new XMLHttpRequest();
        xhttpRequest.open('POST', '/posts/' + postId + '/mark_as_read', true);
        xhttpRequest.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>');
        xhttpRequest.onreadystatechange = function() {
            if (xhttpRequest.readyState === XMLHttpRequest.DONE && xhttpRequest.status === 200) {
                console.log('Post marked as read');
            }
            else {
                console.error('Error marking post as read:', xhttpRequest.statusText);
            }
        }
        xhttpRequest.send();
    });
</script>