<!DOCTYPE html>
<html  lang="en">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    body {
    padding-top: 55px;
    }

  </head>


  <body>

    <%= render partial: 'shared/header' %>
    <div class="container-fluid mt-5 ">
    <% if notice %>
    <p class = "alert alert-success alert-dismissible">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
  <% end %>
  <% if alert %>
    <p class = "alert alert-danger alert-dismissible ">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
  <% end %>

    <%= yield %>
  <div id="loading-overlay">
  <!-- loading indicator -->
  <div id="loading-indicator">
    <!-- Your loading indicator content, e.g., a spinner or loading message -->
    <div class="spinner"></div>
    <!--  styles for the loading indicator -->
  </div>
  </div>
    </div>
  </body>
</html>