<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'pagination' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>


  <body>


  <% if notice %>
    <p class = "alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class = "alert alert-danger"><%= alert %></p>
  <% end %>


    <div class="navbar float-right">
      <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path, class: "navbar-link" %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete,class: "navbar-button" %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "navbar-link" %>
      <%= link_to 'Login', new_user_session_path, class: "navbar-link" %>
      <% end %>
        </div>

    <%= yield %>
  </body>
</html>